
.hero-and-content .container{
     padding-right: 0px; 
     padding-left: 0px; 
     /*margin-right: 0px; */
     /*margin-left: 0px; */
}
.inner hr {
    margin-left: 0px;
    margin-right: 0px;
}

.quick-btn{
    width: 156px !important;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 100% !important;
}

.page-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}

.page-content.without-sidebar {
     padding-top: 0px; 
}
/*.page_content {
    padding-top: 0px;
    padding-bottom: 0px;
}*/

.page-container .page-content .page-content-wrapper .row{
        margin-top: -22px;
}

.page_content {
     padding-bottom: 0px; 
}

