{% extends "templates/pages/custom_web.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block style %}
    <style>
        {% include "templates/includes/dashboard/assets/base_style.css" %}
        {% include "templates/includes/dashboard/assets/css/bootstrap.min.css" %}
        {% include "templates/includes/dashboard/assets/css/bootstrap-responsive.min.css" %}
        {% include "templates/includes/dashboard/assets/css/style.css" %}
        {% include "templates/includes/dashboard/assets/css/calendar.css" %}
        {% include "templates/includes/dashboard/assets/css/theme.css" %}
        {% include "templates/includes/dashboard/assets/fontawesome/css/fontawesome.min.css" %}
    </style>
{% endblock %}

{% block page_content %}

<div class="row" style="margin: 5px 5px 5px 5px;">

	<div class="col-md-4">
		<select>
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		</select>
	</div>
	<div class="col-md-4">
		<select>
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		</select>
	</div>
	<div class="col-md-4">
		<select>
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		</select>
	</div>
	<hr>
</div>


{% endblock %}

{% block script %}
    <script>{% include "templates/includes/dashboard/assets/js/main.js" %}</script>
    <script>{% include "templates/includes/dashboard/assets/custom_script.js" %}</script>
    <script>{% include "templates/includes/dashboard/assets/fullcalendar/fullcalendar/fullcalendar.min.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}

